Package: com.cabralcole.dockolor
Name: DocKolor
Depends: mobilesubstrate, preferenceloader, org.thebigboss.libcolorpicker
Version: 1.0
Architecture: iphoneos-arm
Description: Custom dock color.
Maintainer: cabralcole
Author: cabralcole
Section: Tweaks
